<% provide(:title, t("All_categories")) %>
<h1><%= t"All_categories" %></h1>
<%=link_to "Create new category ", new_admin_category_path,
  class: "btn btn-lg btn-primary"%>
<%= will_paginate %>
<ul class="users">
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><%= t"id" %></th>
          <th><%= t"category" %></th>
          <th><%= t"picture" %></th>
          <th><%= t"delete" %></th>
          <th><%= t"edit" %></th>
          <th><%= t"get_all_words" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render "category" %>
      </tbody>
    </table>
  </div>
</ul>
<%= will_paginate %>
