<% if logged_in? %>
  <div class="row" >
    <div class="col-md-8 col-md-offset-1" id="your_col" >
      <div class="col-md-6" >
        <h2><%= category.name %> <%= image_tag category.picture.url %>
        </h2>
        <h5><%= t "you_learned" %> <%= category.lessons.count %>
          <%= t "time" %>
        </h5>
      </div>
      <div class="col-md-6" >
        <%= form_for [category, category.lessons.build] do |f| %>
          <%= f.hidden_field :category_id %>
          <%= f.submit t("start"), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
<% end %>
